
  <br>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  <br>
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
  <br>
  <mat-progress-bar mode="buffer" value="40"></mat-progress-bar>
  <br>
  <mat-progress-bar mode="query" value="40"></mat-progress-bar>
  <br>
  
  
  <h3>Hobbies</h3>
  <div>

    <mat-chip-listbox aria-label="Hobbies">

        <mat-chip-option>Sketching</mat-chip-option>
      
        <mat-chip-option>Swimming</mat-chip-option>
      
        <mat-chip-option color="accent" selected>Singing</mat-chip-option>
      
        <mat-chip-option color="warn">Dancing</mat-chip-option>
      
      </mat-chip-listbox>
      
      </div>
   
      <br>
      
      <div>

        <mat-list>
      
            <mat-list-item>Item 1</mat-list-item>
      
            <mat-divider></mat-divider>
      
            <mat-list-item>Item 2</mat-list-item>
      
            <mat-divider></mat-divider>
      
        </mat-list>
      </div>